<launch>
    <!-- Explanation in the README.md file -->

    <!-- GLOBAL PARAMETERS -->
    <param name="ip_address" value="128.179.153.185" />
    <param name="ip_address_nicolo" value="192.168.0.152" />
    <param name="abs_path_to_tools" value="/home/theo/Autonomous_driving_pipeline/src/loomo/scripts/tools" />
    <param name="v_max" value="2.0" />
    <param name="wheel_base" value="0.57" />
    <param name="speed" value="0.3" />
    

    <!-- PERCEPTION PARAMETERS: Default, Openpifpaf -->
    <param name="PERCEPTION_FUNCTION" value="Stark" />
    <param name="model_perception_path" value="/home/theo/Autonomous_driving_pipeline/src/perception/scripts/Perception_Functions/saved_model.pth" />
    <param name="dt_perception" value="0.06" />
    <param name="downscale" value="2" />
    <param name="detector_size" value="large" />
    <param name="tracking_confidence" value="0.4" />
    <param name="keypoints_activated" value="true" />
    <param name="save_keypoints" value="False" />
    <param name="visualization_percep" value="True" /> 
    <param name="visualization_3D_activated" value="true" />
    <param name="verbose_percep" type="int" value= "2" /> <!-- level of verbose 0 to 4-->


    <!-- ROBOT STATE PARAMETERS: Default, EPFL_Driverless -->
    <param name="ROBOT_STATE_FUNCTION" value="Default" />
    <param name="dt_robot_state" value="0.02" />

    <!-- MAP STATE PARAMETERS: Default -->
    <param name="MAP_STATE_FUNCTION" value="Default" />
    <param name="mapping_activated" value="True" />
    <param name="map_state_activated" value="False" />
    <param name="dt_map_state" value="0.06" />
    <param name="verbose_map" value="False" />

    <!-- PREDICTION PARAMETERS: Default, Trajnet -->
    <param name="PREDICTION_FUNCTION" value="Default" />
    <param name="prediction_activated" value="False" />
    <param name="model_prediction_path" value="/home/theo/Autonomous_driving_pipeline/src/prediction/scripts/Prediction_Functions/models/lstm_directional_one_12_6_rerun.pkl" />
    <param name="time_horizon_prediction" value="0.15" />
    <param name="past_observations" value="3" />
    <param name="dt_prediction" value="0.05" />

    <!-- PATH PLANNING PARAMETERS: Default, CHUV -->
    <param name="PATH_PLANNING_FUNCTION" value="CHUV" />
    <param name="dt_path_planning" value="0.4" /> 
    <param name="time_horizon_path_planning" value="1.2" />
    <param name="planner_type" value="straight" />
    <param name="robot_position" value="right" />
    <param name="goal_x" value="3" />
    <param name="goal_y" value="0.0" />
    <param name="workarea_x_min" value="-2.0" />
    <param name="workarea_x_max" value="5.0" />
    <param name="workarea_y_min" value="-1.0" />
    <param name="workarea_y_max" value="1.0" />
    <param name="num_person" value="0" />
    
    <!-- CONTROL PARAMETERS: Default, EPFL_Driverless -->
    <param name="CONTROL_FUNCTION" value="Default" />
    <param name="dt_control" value="0.4" />
    <param name="time_horizon_control" value="1.2" />
    <param name="n_states" value="3" />

    <!-- VISUALIZATION PARAMETERS: Default -->
    <param name="visualization_activated" value="True" />
    <param name="dt_visualization" value="0.4" />


    <!-- PERCEPTION NODE -->
    <node pkg="perception" type="perception.py" name="perception" output="screen">
    </node>

    <!-- STATE ESTIMATION NODE -->
    <node pkg="state_estimation" type="robot_state.py" name="robot_state" output="screen">
    </node>
    <node pkg="state_estimation" type="map_state.py" name="map_state" output="screen">
    </node>

    <!-- PREDICTION NODE -->
    <node pkg="prediction" type="prediction.py" name="prediction" output="screen">
    </node>

    <!-- PLANNING NODE -->
    <node pkg="path_planning" type="path_planning.py" name="path_planning" output="screen">
    </node>

    <!-- CONTROL NODE -->
    <node pkg="control" type="control.py" name="control" output="screen">
    </node>

    <!-- VISUALIZATION NODE -->
    <node pkg="visualization" type="visualization.py" name="visualization" output="screen">
    </node>

</launch>
